<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 屏幕适配方案 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mainpage</title>

<!-- 引入google字体库 -->
<link href="https://fonts.font.im/css?family=Hanalei+Fill|Kirang+Haerang|Lato|Oswald" rel="stylesheet">
<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="./public/css/mainpage.css">

</head>
<body>
 <EMBED id="music" src="./public/1.mp3" autostart="true"  width="0" height="0"  loop="false"/>
<div class="con">
  <div class="top">
    <a href="/writeDiary">wirte diary</a>
    <a href="/writeSlogan">write slogan</a>
    <a href="/getmypage">space</a>
    <a href="/exit">logout</a>
    <a> welcome to mainpage,
      <span th:text="${person.username}"> </span>
    </a>
  </div>
   
<div class="lunbo">
  <div class="box">
    <img src="./public/img/1.jpg">
    <span>2019</span>
  </div>
  <div class="box">
    <img src="./public/img/2.jpg">
    <span>2018</span>
  </div>
  <div class="box">
    <img src="./public/img/3.jpg">
    
    <span>2017</span>
  </div>
  <div class="box">
    <img src="./public/img/4.jpg">
    
    <span>2016</span>
  </div>
</div>
  <div id="sign">
    <marquee>sign: 
      <span th:text="${person.slogan}"> </span>
    </marquee>
  </div> 

  <div class="diaryList" th:each="diary: ${diarylist}">
    <div class="wrap">
      日记：<div class="content" th:text="${diary.content}" >
      </div>
      日期：<div class="datetime" th:text="${diary.datetime}">
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>